:root{
  --dark-blue-color: rgb(9, 18, 26);
  --red-color: rgb(243, 64, 64);
  --yellow-color: rgb(255, 213, 0);
  --blue-color: rgb(33, 128, 212);
  --black-color: #1b1f24;
  --grey-color:#787f8b;
}


*{
    margin:0;
    padding: 0;
    box-sizing: border-box;
    scroll-behavior: smooth;


}
body{
  background-color: var(--black-color);
  font-family: "Poppins";
  overflow-x: hidden;
}

.navbar{
    width:100vw;
    height: 75px;
    background-color: #0e0e0e;
    box-shadow: 0px 0px 5px -1px black;
    color:white;
    display:flex;
    position: fixed;
    top:0;
    align-items: center;
    padding:20px 7%;
    justify-content:space-between;
    font-size: 18px;
    z-index: 999;
    font-weight: 500;
}

.nav-name a{
  color:var(--blue-color);
  text-decoration: none;
}

.logo{
  height: 80px;
}

.nav-items{
    display:flex;
    font-size: 20px;
    gap:50px;
}

.nav-items a{
  text-decoration: none;
  color:white;
}

#hello{
  background: rgb(22,26,30);
  background: linear-gradient(0deg, rgba(22,26,30,1) -10%, rgba(27,31,36,1) 50%); 
}
.nav-items span a:hover{
  color:var(--blue-color);
  cursor:pointer;
}

.container-wrapper{
  display:flex;
  position: relative;
  align-items: center;
  padding:270px 0px 150px 0px;
}

.hello-wrapper{
  display:flex;
  position: relative;
  flex-direction: column;
  margin-left:7%;
  z-index: 2;
}
.png-text{
  font-size: 140px;
  line-height: 125px;
  display:flex;
  position: relative;
  flex-direction: column;
  font-weight: 800;
  font-family: Poppins;
  position: absolute;
  top:80px;
  right: 0;
  color:#272a2e;
  direction: rtl;
  user-select: none;
}

.png-text span:last-child{
  display: flex;
  position: relative;
}
h1{
  font-size: clamp(1.875rem, 1.4423rem + 2.3077vw, 3.75rem);
  font-size:70px;
  letter-spacing: -1px;
  color: #ffffff;
  line-height: clamp(1.875rem, 1.4423rem + 2.3077vw, 3.75rem);
  line-height: 66px;
  font-weight: 800;

}

.hi{
  margin-bottom: 5px;
  color:var(--blue-color);
  font-weight: 800;
  font-size: 18px;
  padding: 2px;
}

.hi-text{
  width:clamp(300px, 50vw,500px);
  margin-top:20px;
  color:var(--grey-color)
}

.hi-buttons{
  display:flex;
  gap:30px;
  margin-top:10px;
}

.hi-buttons div{
  background-color:var(--blue-color);
  border-radius: 2px;
  color:rgb(240, 240, 240);
  padding: 8px;
  width:100px;
  display:flex;
  font-weight: 600;
  align-items: center;
  justify-content: center;
  cursor: pointer;
  transition: all .1s ease;
}
.hi-buttons div:hover{
  background-color: white;
  color:var(--blue-color);
  transition: all .1s ease;
}

#about{
  /* background-color: #161a1e; */
  background: rgb(29,38,48);
background: linear-gradient(0deg, rgba(29,38,48,1) 0%, rgba(22,26,30,1) 100%); 

}

.about-wrapper{
  display:flex;
  position: relative;
  justify-content:center;
  align-items: center;
  flex-direction: column;
  padding:100px 50px;
  gap:50px;
}

.about-title{
  display:flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap:20px;
}

.about-title h3 {
  font-size: 35px;
  color:#fff;
  letter-spacing: 1px;
  border-bottom: 3px solid var(--red-color);
  padding: 5px;
}
.about-title p {
  color: var(--grey-color);
  font-size: 14px;
}
.about-tech{
  display: flex;
  flex-wrap: wrap; /* Allow the icons to wrap to the next line */
  gap: 50px; /* Reduce the gap between icons */
}

.about-tech div{
  width: 35vw;
  align-items: center;
}
.about-me{
  display:flex;
  flex-direction: column;
  text-align: start;
  font-size: 22px;
  background-color:var(--blue-color);
  border-radius: 10px;
  gap:20px;
  padding:20px;
  color:white;
}

.about-me p {
  font-size: 16px;
  color:rgb(200, 200, 200)
}



.tech{
  display:flex;
  flex-direction: column;
  gap:20px;
  font-size: 22px;
  color:white;
  border-radius: 10px;

}

.tech-icons{
  display: flex; /* Display the icons in a row */
  flex-wrap: wrap; /* Allow the icons to wrap to the next line */
  justify-content: center; /* Center the icons horizontally */
  align-items: center; /* Center the icons vertically */
  gap:10px;
}
.tech-icons i{
  display: flex;
  position: relative;
  justify-content: center;
  align-items: center;
  text-align: center;
  font-size: 50px;
  padding: 20px; /* Adjust the padding as needed */
  background-color: #24292f;
  border-radius: 5px;
  border:1px solid black;

}

.tech-icons i:nth-child(1){
  transition-delay: 0.15s;
}
.tech-icons i:nth-child(2){
  transition-delay: 0.3s;
}
.tech-icons i:nth-child(3){
  transition-delay: 0.45s;
}
.tech-icons i:nth-child(4){
  transition-delay: 0.60s;
}
.tech-icons i:nth-child(5){
  transition-delay: 0.75s;
}
.tech-icons i:nth-child(6){
  transition-delay: 0.90s;
}
.tech-icons i:hover {
  box-shadow: 0px 0px 10px 0px rgb(11, 206, 171);
  transition: all .3s ease-in-out;
}

#projects{
  width:100dvw;
  display:flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding:100px;
  background: linear-gradient(0deg, rgba(24, 5, 37, 0.458) 0%, rgba(29,38,48,1) 100%); 
}
.projects-title{
  margin-bottom: 100px;
  display:flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap:20px;
}

.projects-title h3{
  font-size: 35px;
  border-bottom: 3px solid var(--red-color);
  letter-spacing: 1px;
  padding: 5px;
  color:#fff;
}
.projects-title p{
  font-size: 14px;
  color:var(--grey-color);
  display:flex;

}
.projects-title p a{
  display:flex;
  justify-content: center;
  align-items: center;
  color:var(--red-color);
  cursor:pointer;
  text-decoration: none;
}

.projects-title p a svg{
  font-size:16px;
}

.projects-title p a:hover{
  color:rgb(228, 0, 8);
}

.projects-grid{
  display:flex;
  justify-content: center;
  gap:20px;

}
.column-project .project{
  background-color: rgb(23, 23, 23);
  border-radius: 5px;
  height: 240px;
  width: 400px;
}
.column-project{
  display:flex;
  flex-direction: column;
  gap:20px;
}
.first-project{
  background-image: url("/images/budgetWeb.png");
  background-size: 450px 500px;
  background-repeat: no-repeat;
  border-radius: 5px;
  height:500px;
  width: 450px;
}

.second-project{
  background-image: url("/images/weather5.png");
  background-size: contain;

}

.third-project{
  background-image: url("/images/coffeeWebsite.jpg");
  background-size: contain;
}

.grey-bg{
  display:flex;
  position: absolute;
  width:450px;
  height: 500px;
  background-color: rgba(0, 0, 0, 0.749);
  opacity: 0;
  transition: opacity 0.2s ease-in-out;
  justify-content: center;
  align-items: center;
}

.grey-bg:hover{
  opacity: 1;
  transition: opacity 0.2s ease-in-out;
}

.grey-small{
  height: 240px;
  width: 400px;
}

.project-description {
  color:white;
  padding: 15px;
  display:flex;
  flex-direction: column;
  gap:20px;
  transform: scale(0);
  transition: all 0.2s ease;
}

.description, .technologies-used{
  display:flex;
  flex-direction: column;
  gap:5px;
}

.project-description p {
  font-size: 16px;
  color:var(--red-color);
}

.project-description span{
  font-size: 13px;
  color:rgb(235,235,235);
}

.links{
  margin-top:10px;
  font-size: 35px;
  display:flex;
  justify-content: center;
  align-items: center;
  gap:40px;
  text-decoration:none;
}

.links a {
  color:white;
  display:flex;
  justify-content: center;
  text-align: center;
  align-items: center;
  cursor:pointer;
}

.links a svg:hover{
  color:var(--red-color)
}


.project{
  display:flex;
  justify-content: center;
  align-items: center;
  transition: all 0.2s ease;
  z-index: 1;
}
.project:hover{
  transition: all 0.2s ease;
}
.project:hover .project-description {
  transform: scale(1);
  transition: all 0.3s ease;
}

#contact{
  width:100vw;
  padding:100px 50px;
  display:flex;
  justify-content: center;
  background: linear-gradient(0deg, rgb(37, 29, 29) 0%, rgba(24, 5, 37, 0.458) 100%); 
}

.contentform{
  display: flex;
  justify-content: center;
  flex-direction: column;
  align-items: center;
  text-align: center;
}
form {
  width:550px;
  min-width: 270px;
 }

 .input-group{
     margin-bottom: 30px;
     position:relative;

 }

 input, textarea {
     border-radius: 3px;
     width: 100%;
     outline:0;
     padding:10px;
     border:1px solid rgb(100, 100, 100);
     background-color:rgba(0, 0, 0, 0.35);
     font-size: 15px;
     color:rgb(150, 150, 150);
     letter-spacing: 1px;
     font-family: poppins;
    resize: vertical;
 }

 input:focus , textarea:focus {
     border-color: rgb(80, 80, 80);
 }

 label {
     height:100%;
     position:absolute;
     left:0;
     top:0;
     padding:10px;
     cursor:text;
     color: var(--grey-color);
     transition:all 0.1s ease;
 }

 .submitbtn {
     padding:10px 0px;
     font-size: 16px;
     color: var(--grey-color);
     outline: none;
     background:rgba(0, 0, 0, 0.25);
     border:1px solid rgb(100, 100, 100);
     width:100%;
     cursor:pointer;
     border-radius: 3px;
 }

 .submitbtn:hover {
     color:rgb(14, 14, 14);
     border-color: transparent;
     background-color:var(--blue-color);
     transition:all 0.1s ease;
 }

 .contacticon{
     color:var(--blue-color);
     margin-right: 4px;
 }

 input:focus~label,
 input:valid~label,
 textarea:focus~label,
 textarea:valid~label{
     top:-35px;
     font-size: 14px;
     color:var(--blue-color)
 }

 .rowcontact{
     display:flex;
     align-items: center;
     justify-content: space-between;
 }

 .rowcontact .input-group{
     flex-basis:48%;
 }

 .formheader{
     margin:0px 0 20px 0;
     padding: 5px;
     font-size: 35px;
     letter-spacing: 1px;
     color:rgb(255, 255, 255);
     border-bottom:3px solid var(--blue-color)
 }

 .contentform p {
  display:flex;
  justify-content: center;
  font-size: 14px;
  color: var(--grey-color);
  margin-bottom: 50px;
  cursor:pointer;
 }

 .contentform p svg{
  font-size: 18px;

 }
 .contentform p a{
  display:flex;
  color:var(--blue-color);
  text-decoration: none;
 }
 .contentform p a:hover{
  color:rgb(6, 124, 251)
 }

 .footer-container{
  width:100dvw;
  height: 50px;
  background-color: rgb(20, 20, 20);
  color:rgb(225,225,225);
  display:flex;
  justify-content: center;
  gap:20px;
  padding: 0px 50px;
  align-items: center;
 }

 .footer-container p {
  font-size: 15px;
 }

 .footer-icons{
  font-size: 22px;
  display: flex;
  gap:10px;
 }

.footer-icons a{
  display:flex;
  color:white;
}
.footer-icons a:hover{
  color:var(--yellow-color)
}
form{
  animation: pop-up 0.5s;
}

.email-sent{
  padding: 20px;
  margin-top:50px;
  animation: pop-up 0.5s;
  font-size: 22px;
  display:none;
}

.email-sent p {
  font-size: 22px;
  color:white;
  background-color: var(--blue-color);
  padding: 15px;
  display:flex;
  text-align: center;
  align-items: center;
}

.email-sent p span{
  color:white;
  display:flex;
}

@keyframes pop-up {
  0%{
    opacity: 0;
    transform:scale(0.1)
  }

  100%{
    opacity: 1;
    transform:scale(1)
  }
}


.open-cv{
  background-color: var(--red-color);
  border-radius: 3px;
  font-size: 16px;
  padding: 10px;
  display:flex;
  align-items: center;
  outline:none;
  border:none;
  cursor: pointer;
}

.open-cv:hover{
  background-color: rgb(255, 0, 38);
}

.resume{
  padding:0px 20px
}



/* Define the initial state of the element */
.animate-on-scroll-right {
  opacity: 0;
  transform: translateX(50px);
  transition: opacity .5s, transform .5s;
}

/* Define the animated state of the element */
.animate-on-scroll-right.show {
  opacity: 1;
  transform: translateX(0);
}







.animate-on-scroll-left {
  opacity: 0;
  transform: translateX(-50px);
  transition: opacity .4s, transform .4s;
}

/* Define the animated state of the element */
.animate-on-scroll-left.show {
  opacity: 1;
  transform: translateX(0);
}






.animate-on-scroll-scale {
  opacity: 0;
  transform: scale(0.8);
  transition: opacity 0.5s, transform 0.5s;
}

/* Define the animated state of the element */
.animate-on-scroll-scale.show {
  opacity: 1;
  transform:scale(1);
}

.delay{
  transition: all 0.5s;
  transition-delay: 0.2s
}
