:root {
  --dark-blue-color: rgb(9, 18, 26);
  --red-color: rgb(243, 64, 64);
  --blue-color: rgb(33, 128, 212);
  --black-color: #1b1f24;
  --grey-color: #787f8b;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  scroll-behavior: smooth;
  
}
body {
  background-color: var(--black-color);
  font-family: "Poppins";
  overflow-x: hidden;
}

.navbar {
  width: 100vw;
  height: 75px;
  background-color: #0e0e0e;
  color: white;
  display: flex;
  position: fixed;
  top: 0;
  align-items: center;
  padding: 20px 7%;
  justify-content: space-between;
  font-size: 18px;
  z-index: 999;
  font-weight: 500;
}

.logo {
  height: 82px;
}

.nav-items {
  display: flex;
  font-size: clamp(0.875rem, 0.7885rem + 0.4615vw, 1.25rem);
  gap: 50px;
}

.nav-items a {
  text-decoration: none;
  color: white;
}

.nav-items span a:hover {
  color: var(--blue-color);
  cursor: pointer;
}

.hamburger{
  display:none;
  cursor: pointer;
}

.bar{
  display:block;
  width:25px;
  height: 3px;
  margin:5px auto;
  -webkit-transition: all 0.2s ease-in-out;
  transition: all 0.2s ease-in-out;
  background-color: white;
}

.hamburger-nav{
  display:none;
  position: relative;
  flex-direction: column;
  position: fixed;
  top:75px;
  background-color: rgb(21, 21, 21);
  z-index: 999;
  font-size: 16px;
}

.hamburger-nav.active{
  display:flex;
  animation: hamburger 0.3s ease;
}


@keyframes hamburger {
  0%{
    opacity: 0;
    transform:scale(0);
    top:-20px;
    left:45%
  }

  100%{
    opacity: 1;
    transform:scale(1);
    top:75px;
    left:0
  }
  
}


.hamburger-nav a{
  color:white;
  text-decoration: none;
}
.hamburger-nav span{
  width:100vw;
  display:flex;
  justify-content: center;
  border-bottom:1px solid rgb(11, 11, 11);
  padding: 10px;
  cursor: pointer;
}

.hamburger-nav a:hover{
  color: var(--blue-color);
}

#hello {
  background: rgb(22, 26, 30);
  background: linear-gradient(
    0deg,
    rgba(22, 26, 30, 1) -10%,
    rgba(27, 31, 36, 1) 50%
  );
  overflow-X: -moz-hidden-unscrollable;
}

.container-wrapper {
  display: flex;
  position: relative;
  align-items: center;
  padding: 270px 0 150px 7%;
  overflow: hidden;
}

.hello-wrapper {
  display: flex;
  position: relative;
  flex-direction: column;
  z-index: 2;

}

.hi {
  margin-bottom: 5px;
  color: var(--blue-color);
  font-weight: 800;
  font-size: clamp(0.75rem, 0.6635rem + 0.4615vw, 1.125rem);
  padding: 2px;
}

h1 {
  font-size: clamp(1.5625rem, 0.9135rem + 3.4615vw, 4.375rem);
  color: #ffffff;
  line-height:clamp(1.5625rem, 0.9135rem + 3.4615vw, 4.375rem);
  font-weight: 800;
}

.hi-text {
  width: clamp(300px, 50vw, 500px);
  font-size: clamp(0.75rem, 0.6635rem + 0.4615vw, 1.125rem);
  margin-top: 10px;
  color: var(--grey-color);
}

.hi-buttons {
  display: flex;
  gap: 10px;
  margin-top: 10px;
}

.hi-buttons a {
  text-decoration: none;
}

.hi-buttons div {
  background-color: var(--blue-color);
  border-radius: 2px;
  color: rgb(240, 240, 240);
  padding: 8px;
  width: 80px;
  display: flex;
  font-weight: 600;
  font-size:14px;
  align-items: center;
  justify-content: center;
  cursor: pointer;
  transition: all 0.1s ease;
}


.hi-buttons div:hover {
  background-color: white;
  color: var(--blue-color);
}

.png-text {
  font-size: 140px;
  line-height:120px;
  display: flex;
  flex-direction: column;
  font-weight: 800;
  font-family: Poppins;
  position: absolute;
  top: 80px;
  right: 0;
  color: #272a2e;
  direction:rtl;
  user-select: none;
}

.png-text span:last-child {
  display: flex;
  position: relative;
}

#about {
  background: rgb(29, 38, 48);
  background: linear-gradient(
    0deg,
    rgba(29, 38, 48, 1) 0%,
    rgba(22, 26, 30, 1) 100%
  );
}

.about-wrapper {
  display: flex;
  position: relative;
  flex-direction: column;
  padding: 75px 7%;
  gap: 100px;
}

.about-title {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  text-align: center;
  gap: 15px;
}

.about-title h3 {
  font-size: clamp(1.375rem, 1.1875rem + 1vw, 2.1875rem);
  color: #fff;
  letter-spacing: 1px;
  border-bottom: 3px solid var(--blue-color);
  padding: 5px;
}
.about-title p {
  color: var(--grey-color);
  font-size: clamp(0.8125rem, 0.7692rem + 0.2308vw, 1rem);
}



.about-tech {
  display: flex;
  flex-direction: column;
 
  gap: 50px;
}

.about-tech .about-me {
  width: 60vw
}

.about-me {
  display: flex;
  flex-direction: column;
  gap: 10px;
  color: white;
}
.about-me span {
  font-size: clamp(1rem, 0.9135rem + 0.4615vw, 1.375rem);
  font-weight: 600;
}

.about-me p {
  font-size:clamp(0.8125rem, 0.7692rem + 0.2308vw, 1rem);
  color: var(--grey-color);
}

.open-cv {
  background-color: var(--blue-color);
  border-radius: 3px;
  font-size: 14px;
  padding: 10px;
  display: flex;
  align-items: center;
  outline: none;
  border: none;
  cursor: pointer;
  color: white;
  transition: all 0.2s ease;
  font-weight: 600;
}

.open-cv:hover {
  background-color: white;
  color: var(--blue-color);
}

.resume a {
  text-decoration: none;
}


.tech {
  display: flex;
  flex-direction: column;
  gap: 20px;
  color: white;
  border-radius: 10px;
}

.tech span {
  font-weight: 600;
  font-size: clamp(1rem, 0.9135rem + 0.4615vw, 1.375rem);
}

.tech-icons {
  display: flex;
  flex-wrap: wrap; 
  justify-content: start; 
  align-items: center; 
  gap: 10px;
}
.tech-icons i {
  font-size: 50px;
  padding: 20px; /* Adjust the padding as needed */
  background-color: #24292f;
  border-radius: 3px;
  border: 1px solid black;
}

.tech-icons i:nth-child(1) {
  transition-delay: 0.15s;
}
.tech-icons i:nth-child(2) {
  transition-delay: 0.3s;
}
.tech-icons i:nth-child(3) {
  transition-delay: 0.45s;
}
.tech-icons i:nth-child(4) {
  transition-delay: 0.6s;
}
.tech-icons i:nth-child(5) {
  transition-delay: 0.75s;
}
.tech-icons i:nth-child(6) {
  transition-delay: 0.9s;
}

.tech-icons i:nth-child(7) {
  transition-delay: 1.05s;
}
.tech-icons i:hover {
  box-shadow: 0px 0px 10px 0px rgb(11, 206, 171);
  transition: all 0.3s ease-in-out;
}

#projects {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding: 75px 20px;
  background: linear-gradient(
    0deg,
    rgba(24, 5, 37, 0.458) 0%,
    rgba(29, 38, 48, 1) 100%
  );
}


.projects-title {
  margin-bottom: 100px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 15px;
}

.projects-title h3 {
  font-size: clamp(1.375rem, 1.1875rem + 1vw, 2.1875rem);
  border-bottom: 3px solid var(--blue-color);
  letter-spacing: 1px;
  padding: 5px;
  color: #fff;
}
.projects-title p {
  color: var(--grey-color);
  font-size: clamp(0.8125rem, 0.7692rem + 0.2308vw, 1rem);
  display: flex;
}

.projects-title p a {
  display: flex;
  justify-content: center;
  align-items: center;
  color: var(--blue-color);
  cursor: pointer;
  text-decoration: none;
}

.projects-title p a svg {
  font-size: 16px;
}

.projects-title p a:hover {
  color: rgb(8, 182, 124);
}

.projects-grid {
  display: flex;
  justify-content: center;
  gap: 20px;
}

.column-project {
  display: flex;
  flex-direction: column;
  gap: 20px;
}

.column-project .project {
  background-color: rgb(23, 23, 23);
  height: 240px;
  width: 400px;
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
}

.first-project {
  background-image: url("./images/budgetProject.png");
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
  height: 500px;
  width: 450px;
}

.second-project {
  background-image: url("./images/weatherProject.png");

}

.third-project {
  background-image: url("./images/coffeeProject.png");
}

.grey-bg {
  display: flex;
  position: absolute;
  width: 450px;
  height: 500px;
  background-color: rgba(0, 0, 0, 0.749);
  opacity: 0;
  transition: opacity 0.2s ease-in-out;
  justify-content: center;
  align-items: center;
  
}

.grey-bg:hover {
  opacity: 1;
  transition: opacity 0.2s ease-in-out;
}

.grey-small {
  height: 240px;
  width: 400px;
}

.project-description {
  color: white;
  padding: 15px;
  display: flex;
  flex-direction: column;
  gap: 20px;
  transform: scale(0);
  transition: all 0.2s ease;
}

.description,
.technologies-used {
  display: flex;
  flex-direction: column;
  gap: 5px;
}

.project-description p {
  font-size: 16px;
  color: var(--red-color);
}

.project-description span {
  font-size: 13px;
  color: rgb(235, 235, 235);
}

.links {
  margin-top: 10px;
  font-size: 35px;
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 40px;
  text-decoration: none;
}

.links a {
  color: white;
  display: flex;
  justify-content: center;
  text-align: center;
  align-items: center;
  cursor: pointer;
}

.links a svg:hover {
  color: var(--red-color);
}

.project {
  display: flex;
  justify-content: center;
  align-items: center;
  transition: all 0.2s ease;
  z-index: 1;
}
.project:hover {
  transition: all 0.2s ease;
}
.project:hover .project-description {
  transform: scale(1);
  transition: all 0.3s ease;
}

#contact {
  padding: 75px 20px;
  display: flex;
  justify-content: center;
  background: linear-gradient(
    0deg,
    rgba(24, 5, 37, 0.458) 0%,
    rgba(24, 5, 37, 0.458) 100%
  );
}

.formheader {
  margin: 0px 0 15px 0;
  padding: 5px;
  font-size: clamp(1.375rem, 1.1875rem + 1vw, 2.1875rem);
  letter-spacing: 1px;
  color: rgb(255, 255, 255);
  border-bottom: 3px solid var(--blue-color);
}

.contentform {
  display: flex;
  justify-content: center;
  flex-direction: column;
  align-items: center;
  text-align: center;
}

.contentform p {
  display: flex;
  justify-content: center;
  font-size:clamp(0.8125rem, 0.7692rem + 0.2308vw, 1rem);
  color: var(--grey-color);
  margin-bottom: 50px;
  cursor: pointer;
}

.contentform p svg {
  font-size: clamp(1.125rem, 1.0962rem + 0.1538vw, 1.25rem);
}
.contentform p a {
  display: flex;
  color: var(--blue-color);
  text-decoration: none;
}
.contentform p a:hover {
  color: rgb(6, 124, 251);
}

form {
  width: 100%;
  max-width: 550px;
  min-width: 270px;
  animation: pop-up 0.5s;
}

.input-group {
  margin-bottom: 20px;
  position: relative;
}

input,
textarea {
  border-radius: 3px;
  width: 100%;
  outline: 0;
  padding: 10px;
  border: 1px solid rgb(100, 100, 100);
  background-color: rgba(0, 0, 0, 0.35);
  font-size: clamp(0.8125rem, 0.7692rem + 0.2308vw, 1rem);
  color: rgb(150, 150, 150);
  letter-spacing: 1px;
  font-family: poppins;
  resize: vertical;
}

input:focus,
textarea:focus {
  border-color: rgb(199, 199, 199);
}

label {
  height: 100%;
  position: absolute;
  font-size: 14px;
  left: 0;
  top: 0;
  padding: 11px;
  cursor: text; 
  color: var(--grey-color);
  transition: all 0.1s ease;
}

input:focus ~ label,
input:valid ~ label,
textarea:focus ~ label,
textarea:valid ~ label {
  top: -30px;
  font-size: clamp(0.75rem, 0.7212rem + 0.1538vw, 0.875rem);
  color: var(--blue-color);
}

.rowcontact {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.rowcontact .input-group {
  flex-basis: 48%;
}


.submitbtn {
  padding: 10px 0px;
  font-size: 15px;
  color: white;
  outline: none;
  background: rgba(0, 0, 0, 0.25);
  border: 1px solid rgb(100, 100, 100);
  width: 100%;
  cursor: pointer;
  border-radius: 3px;
}

.submitbtn:hover {
  color: rgb(14, 14, 14);
  border-color: transparent;
  background-color: var(--blue-color);
  transition: all 0.1s ease;
}


.email-sent {
  padding: 20px;
  margin-top: 50px;
  animation: pop-up 0.5s;
  font-size: 22px;
  display: none;
}

.email-sent p {
  font-size: 22px;
  color: white;
  background-color: var(--blue-color);
  padding: 15px;
  display: flex;
  text-align: center;
  align-items: center;
}

.email-sent p span {
  color: white;
  display: flex;
}

@keyframes pop-up {
  0% {
    opacity: 0;
    transform: scale(0.1);
  }

  100% {
    opacity: 1;
    transform: scale(1);
  }
}


.footer-container {
  width: 100dvw;
  height: 50px;
  background-color: rgb(20, 20, 20);
  color: rgb(225, 225, 225);
  display: flex;
  justify-content: center;
  gap: 20px;
  padding: 0px 20px;
  align-items: center;
}

.footer-container p {
  font-size: clamp(0.75rem, 0.7067rem + 0.2308vw, 0.9375rem);
}

.footer-icons {
  font-size: clamp(1.125rem, 1.0673rem + 0.3077vw, 1.375rem);
  display: flex;
  gap: 10px;
}

.footer-icons a {
  display: flex;
  color: white;
}
.footer-icons a:hover {
  color: var(--blue-color);
}









/* Define the initial state of the element */
.animate-on-scroll-right {
  opacity: 0;
  transform: translateX(50px);
  transition: opacity 0.5s, transform 0.5s;
}

/* Define the animated state of the element */
.animate-on-scroll-right.show {
  opacity: 1;
  transform: translateX(0);
}

.animate-on-scroll-left {
  opacity: 0;
  transform: translateX(-60px);
  transition: opacity 0.4s, transform 0.4s;
}

/* Define the animated state of the element */
.animate-on-scroll-left.show {
  opacity: 1;
  transform: translateX(0);
}

.animate-on-scroll-scale {
  opacity: 0;
  transform: translateY(20px);
  transition: opacity 0.5s, transform 0.5s;
}

/* Define the animated state of the element */
.animate-on-scroll-scale.show {
  opacity: 1;
  transform: translateZ(0)
}



@media(max-width:768px){
  .nav-items{
    display:none;
  }
  .hamburger{
    display:block
  }
  .hamburger.active .bar:nth-child(2){
    opacity: 0;
  }
  .hamburger.active .bar:nth-child(1){
    transform: translateY(8px) rotate(135deg);

  }
  .hamburger.active .bar:nth-child(3){
    transform: translateY(-8px) rotate(-135deg);

  }



}

@media(max-width:900px){
  .column-project .project{
    height: 190px;
    width:300px;
  }

  .first-project{
    height: 400px;
    width: 350px;
  }

  .grey-bg{
    width:350px;
    height: 400px;
  }

  .grey-small{
    width:300px;
    height: 190px;
  }

  .grey-small .description, .grey-small .technologies-used, .grey-small .links{
    transform: scale(0.9);
  }

  .grey-small .project-description{
    padding: 5px;
    gap:5px;
  }
  .grey-small .links {
    margin-top:0px;
  }

  .about-tech .about-me{
    width:75dvw;
  }
.png-text{
  font-size: 120px;
  line-height:110px;
  display: flex;
  position: relative;
  flex-direction: column;
  font-weight: 800;
  font-family: Poppins;
  position: absolute;
  top: 80px;
  right: 0;
  color: #272a2e;
  direction:rtl;
  user-select: none;

 }
}

@media(max-width:700px){

  .column-project .project {
    height: 400px;
    width: 350px;
  }

  .projects-grid{
    display:flex;
    flex-direction: column;
  }

  .grey-small{
    width:350px;
    height: 400px;
  }

  
  .grey-small .description, .grey-small .technologies-used, .grey-small .links{
    transform: scale(1);
  }

  .grey-small .project-description{
    padding: 15px;
    gap:20px;
  }
  .grey-small .links {
    margin-top:10px;
  }

  .png-text {
    display:none;
  } 

  .container-wrapper{
    padding:225px 0 150px 7%;
  }

  .about-tech .about-me{
    width:85dvw;
  }
}

@media(max-width:400px){
  .column-project .project {
    height: 350px;
    width: 290px;
  }

  .first-project{
    height: 350px;
    width: 290px;
  }

  .grey-bg{
    width:290px;
    height: 350px;
  }

}
